body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.5;
    background-color: bisque;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 35px;
    text-align: left;
    font-weight: 900;
    padding: 10px 10px;
}
h1:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(184, 184, 184);
}

.container {
    margin: 20px auto;
    max-width: 1080px;
    padding: 10px 20px;
}

.container:hover .acrdn__open {
    opacity: 1;
}

.acrdn {
    color:blue;  
}
.acrdn:hover {
    color:black;
}

.acrdn__item {

}

.acrdn__item:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(184, 184, 184);
}
.acrdn__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.acrdn__title {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer; 
    text-align: left;
    font-size: 20px;
    padding: 5px 10px;
    transition: all 0.5s ease-out;
}

.acrdn__open {
    opacity: 0;
}

/* .acrdn__title::after { 
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    background-image: url(../img/open.svg);
} feBlend */

/* .acrdn__title:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(184, 184, 184);
} */


.acrdn__input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.acrdn__input:checked ~ .acrdn__title {
    color: black;
}

.acrdn__input:checked ~ .acrdn__img {
    display: block;
}

.acrdn__img {
    display: none;
    padding: 20px 15px;
}
